@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

.App {
  background-color: #191023;
  min-height: 100vh;
  color: #FFF;
}

h1 {
  font-size: 2rem !important;
}

h2, h3 {
  font-family: 'Courgette', cursive;
  color: #FFB64C;
  text-align: center;
  margin: 30px !important;
}

p {
  width: 80%;
  margin: 0 auto;
}

.catch-phrase {
  text-align: center;
  font-style: italic;
}

.max-width {
  max-width: 100vw;
}

.alice-carousel__stage-item __active, .alice-carousel__stage-item {
  max-width: 100vw !important;
  height: 500px;
}

.custom-button {
  color: #FFB64C !important;
  background-color: #E63950 !important;
  font-family: 'Courgette', cursive;
  font-weight: 600 !important;
}

footer {
  background-color: #E63950;
  color: #FFB64C;
  font-weight: 600;
}

footer p {
  margin: 0;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}