@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

.App {
  background-color: #191023;
  min-height: 100vh;
}

h2, h3 {
  font-family: 'Courgette', cursive;
}

.max-width {
  max-width: 100vw;
}

.alice-carousel__stage-item {
  max-height: 40vh;
}